<head>
<style>
  p {outline-color:pink;}
  p.double {outline-style: double;}
</style>
</head>
<body>

  <div class="jumbotron">

    <h1> Team 4 Authentication Demo : Tim Hickey Belle Scott and Jiayin Li  </h1>

    <p>Welcome to the Authentication Demo </p>

    <ul>
      <li><a href="/testing">Go to a test page </a></li>
      <li><a href="/testing2">Go to another test page </a></li>
      <% if (loggedIn) {%>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <li><a href="/todo">See your to do list </a></li>
      <li><a href="/todoAjax">See your to do list with Ajax </a></li>


      <% } %>
    </ul>
  </div>


  <div class="content">
      <img src=""/ alt="profile pic" >
      <div class="playerBio">
        <h3><b>Andrew Cahoon</b></h3>
        <h4>Fr/So/Jr/Sr - Majors/Minors</h4>
      </div>

      <div class="playerStats">
        <p class="double">Some information about yourself, hobbies etc. feel free to replace this div if u want</p>
      </div>
  </div>

  <div class="content">
      <img src=""/ alt="profile pic" >
      <div class="playerBio">
        <h3><b>Jacob Schireson</b></h3>
        <h4>Fr/So/Jr/Sr - Majors/Minors</h4>
      </div>

      <div class="playerStats">
        <p class="double">Some information about yourself, hobbies etc. feel free to replace this div if u want</p>
      </div>
  </div>

  <div class="content">
      <img src="/images/nicole.pic.jpg", width="250">
      <div class="playerBio">
        <h3><b>Nicole Meng</b></h3>
        <h4>Junior - Majors: Computer Science, Applied Math, Economcis</h4>
      </div>

      <div class="playerStats">
        <p class="double">
          Nicole is a junior and serves as a math undergraduate department representative at Brandeis.
          She likes do some sports and listen to music when she has time.
        </p>
      </div>
  </div>
</body>
