<%- include('bootheader') -%>
<head>
<style>
  p {outline-color:pink;}
  p.double {outline-style: double;}
</style>
</head>
<body>



  <div class="content">
      <img src=""/ alt="profile pic" >
      <div class="playerBio">
        <h3><b>Andrew Cahoon</b></h3>
         <h4>Senior - Major: Computer Science</h4>
      </div>

      <div class="playerStats">
        <p class="double">
            Andrew is a senior graduationg this summer.
            He has a large focus in biology, but not quite enough for the
            Biology minor.</p>
      </div>
  </div>
  <br>

  <div class="content">
      <img src=""/ alt="profile pic" >
      <div class="playerBio">
        <h3><b>Jacob Schireson</b></h3>
        <h4>Senior | Majors: Computer Science, Philosophy</h4>
      </div>

      <div class="playerStats">
        <p class="double">Some information about yourself, hobbies etc. feel free to replace this div if u want</p>
      </div>
  </div>
  <br>

  <div class="content">
      <img src="/images/nicole.pic.jpg", width="250">
      <div class="playerBio">
        <h3><b>Nicole Meng</b></h3>
        <h4>Junior - Majors: Computer Science, Applied Math, Economcis</h4>
      </div>

      <div class="playerStats">
        <p class="double">
          Nicole is a junior and serves as a math undergraduate department representative at Brandeis.
          She likes do some sports and listen to music when she has time.
        </p>
      </div>
  </div>
</body>
